.flex-main{
  display: flex;
  flex-direction: row;
}
.profile{
  width:30%;
  background-color:black;
  margin:1%;
  padding:2%;
  border:1px solid #000;
  border radius:20px;
}
.content{
  width:70%;
  background-color:white;
  margin:1%;
  padding:2%;
}
body{
   background-color: navyblue;
}
img{
  width:50%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
@media only screen and (min-width:320px) and (max-width:480px){
}
@media only screen and (min-width:481px) and (max-width:768px){

}
@media only screen and (min-width:769px) and (max-width:1024px){

}
